.typingEffect {
    display: flex;
    gap: 3px;
}

.typing-dot {
    width: 8px;
    height: 8px;
    background-color: #999;
    border-radius: 50%;
    animation: blink 1.4s infinite both;
}

.typing-dot:nth-child(2) {
    animation-delay: 0.2s;
}

.typing-dot:nth-child(3) {
    animation-delay: 0.4s;
}

@keyframes blink {
    0% {
        opacity: 0.2;
        transform: translateY(0);
    }

    20% {
        opacity: 1;
        transform: translateY(-3px);
    }

    40% {
        opacity: 0.2;
        transform: translateY(0);
    }
}