.loginContainer {
    background: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    text-align: center;
    width: 280px;
    max-height: fit-content;
}

.loginButton {
    width: 100%;
    margin-top: 10px;
    font-size: 16px;
    transition: 0.2s;
}